@charset "utf-8";

:root {
	--app-bg-color: #001;
	--app-text-color: #fefefe;
	--app-btn-color: #fbcc8d;
	--app-padding: 25px;
	--app-border-rad: 8px;
	--app-gradient: linear-gradient(
		135deg, 
		rgb(255 255 255 / 0.2) 0%,
		rgb(255 255 255 / 0.6) 50%,
		rgb(255 255 255 / 0.2) 100%
	);
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.spacer {
    height:500px; 
    width: 100%;
}


.flex {
    display: flex;
}

.f-col {
    display: flex;
    flex-direction: column;
}


.ease-slow {
    transition: all 1s ease-in-out;
}

.ease-med {
    transition: all 0.6s ease-in-out;
}

.ease-quick {
    transition: all 0.3s ease-in-out;
}

/*    --------  **/

.visible {
    display: visible;
    opacity: 1;
}

.hidden {
    display: hidden;
    opacity: 0;
}


/*------------------------------->
        Misc.
<--------------------------------*/

.circle {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}
.no-select {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;     
}